<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="d-flex justify-content-between pb-3">
        {{>btnBack}}

        <form action="/cuatrimestres/{{CODIGO_CORTO}}/delete" method="post">
          <button class="btn btn-outline-danger" onclick="return confirm('Desea eliminar este cuatrimestre?')">
            <i class="bi bi-x-lg"></i>
            Eliminar
          </button>
        </form>
      </div>


      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Creación de cuatrimestre</h1>

          <!-- Custom Styled Validation -->
          <form class="row g-3 needs-validation" novalidate action="/cuatrimestres/{{CODIGO_CORTO}}/update"
            method="post">
            <div class="col-md-4">
              <label for="validationinicial" class="form-label">Año inicial</label>
              <input type="number" class="form-control" maxlength="4" placeholder="Año inicial" name="inicial"
                value={{INICIAL}}>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationfinal" class="form-label">Año final</label>
              <input type="number" class="form-control" maxlength="4" placeholder="Año final" name="final"
                value="{{FINAL}}">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationperiodo" class="form-label">Período</label>

              <select class="form-control" required name="periodo">
                <option disabled>Seleccionado: {{PERIODO}}</option>
                <option hidden selected value="{{PERIODO}}">{{PERIODO}}</option>
                <option value="1">SEP-DIC</option>
                <option value="2">ENERO-ABR</option>
                <option value="3">MAY-AGO</option>
                <option value="0">ASPIRANTES</option>
                <option value="4">EGRESADOS TSU</option>
                <option value="5">EGRESADOS LIC</option>
              </select>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-8">
              <label for="validationdescripcion" class="form-label">Descripción del cuatrimestre</label>
              <input maxlength="50" type="text" class="form-control" placeholder="Descripción del cuatrimestre"
                name="descripcion" value="{{DESCRIPCION}}" onload="console.log('w')">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-4">
              <label for="validationcodigo" class="form-label">Código corto</label>
              <input type="text" class="form-control" onkeyup="javascript:this.value=this.value.toUpperCase();"
                maxlength="30" placeholder="Código corto" name="codigo_corto" value="{{CODIGO_CORTO}}">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-6">
              <label for="fecha_inicial" class="form-label">Fecha de inicio</label>
              <div class="col-md-8">
                <input id="fecha_ini" type="hidden" value="{{FECHA_INICIAL}}">
                <input id="fecha_inicial" class="form-control" name="fecha_inicial" type="date">
              </div>
              <div class="col-md-4">
              </div>
            </div>

            <div class="col-6">
              <label for="fecha_final" class="form-label">Fecha de término</label>
              <div class="col-md-8">
                <input id="fecha_fin" type="hidden" value="{{FECHA_FINAL}}">
                <input id="fecha_final" class="form-control" name="fecha_final" type="date">
              </div>
              <div class="col-md-4">
              </div>
            </div>

            <div class="text-center py-2">
              <button class="btn btn-primary" id="load">Actualizar</button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<script>
  const valueInicial = document.getElementById('fecha_ini');
  const valueFinal = document.getElementById('fecha_fin');
  const inicial = document.getElementById('fecha_inicial');
  const final = document.getElementById('fecha_final');
  const load = document.getElementById("load");

  inicial.value = formatDate(valueInicial.value);
  final.value = formatDate(valueFinal.value);

  load.addEventListener("click", () => {
    load.innerHTML = '<div class="spinner-border"></div>'
  });
</script>