<section>
  <input type="hidden" id="idPlan" value="{{idPlan}}" />
    <div class="mb-3">
    {{>btnBack}}
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title text-center">
        <h1>Ver Asignatura </h1>
      </div>

      <form action="" method="post">
        <div class="row g-4">
          <div class="col-md-4">
            <label for="clave" class="form-label">Face/Etapa</label>
            <input
              value="{{ID_ETAPA}}"
              required
              placeholder="id etapa"
              type="text"
              name="id_etapa"
              class="form-control"
            />
          </div>

          <div class="col-md-4">
            <label for="name" class="form-label">Clave</label>
            <input
              value="{{CLAVEASIGNATURA}}"
              required
              placeholder="id clave"
              type="text"
              name="id_clave"
              class="form-control"
            />
          </div>

          <div class="col-md-4">
            <label for="name" class="form-label">Nombre</label>
            <input
              value="{{NOMBREASIGNATURA}}"
              required
              placeholder="nombre asignatura"
              type="text"
              name="nombre_asig"
              class="form-control"
            />
          </div>

          <div class="col-md-4">
            <label for="name" class="form-label">Nombre Corto</label>
            <input
              value="{{NOMBRECORTO}}"
              required
              placeholder="nombre corto"
              type="text"
              name="nombre_corto"
              class="form-control"
            />
          </div>

          <div class="col-md-4">
            <label for="name" class="form-label">Cuatrimestre</label>
            <input
              value="{{GRADO}}"
              required
              placeholder="cuatrimestre"
              type="text"
              name="cuatrimestre"
              class="form-control"
            />
          </div>
          <div class="col-md-4">
            <label for="name" class="form-label">Horas de Teoria</label>
            <input
              value="{{HORAS_TEORIA}}"
              required
              placeholder="horas de teoria"
              type="text"
              name="horas_teoria"
              class="form-control"
            />
          </div>

          <div class="col-md-4">
            <label for="name" class="form-label">Horas de Práctica</label>
            <input
              value="{{HORAS_PRACTICA}}"
              required
              placeholder="horas de practica"
              type="text"
              name="horas_practica"
              class="form-control"
            />
          </div>

        </div>

      </form>

    </div>
  </div>

</section>

<script src="/js/services/admin/getPlanesAsig.js"></script>