<section>
  <div class="mb-3">
    {{>btnBack}}
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title text-center">
        <h1>Detalles de Plan de Estudio {{plan.NOMBRE_PLAN}} </h1>
      </div>

      <form action="" method="post">
        <div class="row g-4">
          <div class="col-md-4">
            <label for="clave" class="form-label">Clave de plan</label>
            <input value="{{plan.ID_PLAN}}" required placeholder="id clave" type="text" name="id_clave"
              class="form-control" />
          </div>

          <div class="col-md-4">
            <label for="name" class="form-label">Nombre de plan</label>
            <input value="{{plan.NOMBRE_PLAN}}" required placeholder="id nombre" type="text" name="nombre"
              class="form-control" />
          </div>

          <div class="col-md-4">
            <label for="nivel" class="form-label" placeholder="id_nivel">Nivel</label>
            <select class="form-select" id="niveles" name="id_nivel">
              <option selected disabled value="{{plan.NIVEL}}">{{plan.NIVEL}}</option>
              <option value="null">Ninguno</option>
              {{#each niveles}}
              <option value="{{NIVEL}}">{{DESCRIPCION}}</option>
              {{/each}}
            </select>
          </div>

          <div class="col-md-4">
            <label for="name" class="form-label">Calif. Mínima</label>
            <input value="{{plan.MINIMO}}" required placeholder="calificacion minima" type="text" name="calif_min"
              class="form-control" />
          </div>

          <div class="col-md-4">
            <label for="name" class="form-label">Calif. Máxima</label>
            <input value="{{plan.MAXIMO}}" required placeholder="calificacion maxima" type="text" name="calif_max"
              class="form-control" />
          </div>

          <div class="col-md-4">
            <label for="name" class="form-label">Mínima Aprobatoria</label>
            <input value="{{plan.MINIMO_APROBATORIO}}" required placeholder="minima aprobatoria" type="text"
              name="min_aprobatoria" class="form-control" />
          </div>

          <div class="radio">
            <label for="name" class="form-label">Calcular Promedio</label>
            <input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked />
            Si
            <input type="radio" name="opciones" id="opciones_2" value="opcion_2" />
            No

          </div>

        </div>

        <div class="mt-3">
          <button class="btn btn-outline-primary"> Guardar </button>
        </div>
      </form>

    </div>
  </div>

</section>