<div class="container">

  <div class="pb-3 d-flex justify-content-between">
    {{>btnBack}}
  </div>

  <div class="card">
    <div class="card-body">

      <div class="card-title text-center">
        <h2>Editar grupo</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="cod_grupo" class="form-label">Codigo grupo:</label>
          <input type="text" id="cod_grupo" name="codigo_grupo" class="form-control" value="{{CODIGO_GRUPO}}">
        </div>
        <div class="col-md-4">
          <label for="nivel" class="form-label">Nivel:</label>
          <input type="text" id="nivel" name="nivel" class="form-control" value="{{NIVEL}}">
        </div>
        <div class="col-md-4">
          <label for="grado" class="form-label">Grado:</label>
          <input type="text" id="grado" name="grado" class="form-control" value="{{GRADO}}">
        </div>
        <div class="col-md-4">
          <label for="grupo" class="form-label">Grupo:</label>
          <input type="text" id="grupo" name="grupo" class="form-control" value="{{GRUPO}}">
        </div>
        <div class="col-md-4">
          <label for="c_max" class="form-label">Cupo maximo:</label>
          <input type="number" id="c_max" name="cupo_maximo" class="form-control" value="{{CUPO_MAXIMO}}">
        </div>
        <div class="col-md-4">
          <label for="inicial" class="form-label">Inicial:</label>
          <input type="text" id="inicial" name="inicial" class="form-control" value="{{INICIAL}}">
        </div>
        <div class="col-md-4">
          <label for="final" class="form-label">Final:</label>
          <input type="text" id="final" name="final" class="form-control" value="{{FINAL}}">
        </div>
        <div class="col-md-4">
          <label for="periodo" class="form-label">Periodo:</label>
          <input type="text" id="periodo" name="periodo" class="form-control" value="{{PERIODO}}">
        </div>
        <div class="col-md-6 pt-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Permitir diferentes niveles
            </label>
          </div>
        </div>
      </div>
      <div class="pt-3 text-center">
        <button class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>

</div>

<script>
  const getNiveles = async () => {
    const res = await fetch("/api/carreras");
    const data = await res.json()

    console.log(data)
  }

  getNiveles()
</script>