<section class="section">

  <div class="mb-3">
    {{>btnBack}}
  </div>


  <div class="row">
    <div class="col-lg-12">

      <section class="card text-center">
        <div class="row p-3">

          <div class="col-3">
            <div class="pt-2">
              {{#if image}}
              <img src="{{image}}" alt="foto" class="img-fluid" width="150" id="imgCurrent">
              {{else}}
              <img src="/imgs/studentIcon.png" alt="foto" class="img-fluid">
              {{/if}}
            </div>
          </div>

          <div class="col-3">
            <div class="row">

              <div class="col-md-12">
                <h4>Fichas</h4>
                <div class="btn-group flex-wrap" role="group">
                  <a class="btn btn-outline-primary" href="/alumnos/{{MATRICULA}}/doctos">Documentos</a>
                  <a class="btn btn-outline-primary" href="/alumnos/{{MATRICULA}}/boletas">Boletas</a>
                </div>
              </div>

              <div class="col-md-12 pt-4">
                <h4>Actualizar fotografia</h4>
                <form action="/alumnos/{{MATRICULA}}/updatePhoto" method="post" enctype="multipart/form-data">
                  <div class="btn-group">
                    <!--LA FOTOGRAFÍA PUEDE SER NO REQUERIDA-->
                    <input type="file" name="fotografia" class="form-control" accept="image/*" id="imgInput" />
                    <button class="btn" type="submit">
                      <i class="bi bi-arrow-bar-up"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <form action="/alumnos/{{MATRICULA}}/update" method="post">

        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Datos de identidad</h1>

            <div class="row g-3">
              <div class="col-md-3">
                <label for="proyecto_obs" class="form-label">Nivel ingles TSU</label>
                <input type="text" id="proyecto_obs" name="proyecto_obs" class="form-control" placeholder="TSU"
                  value="{{PROYECTO_OBS}}" disabled>
              </div>
              <div class="col-md-3">
                <label for="obs_proyecto_lic" class="form-label">Nivel ingles LIC</label>
                <input type="text" id="obs_proyecto_lic" name="obs_proyecto_lic" class="form-control" placeholder="LIC"
                  value="{{OBS_PROYECTO_LIC}}" disabled>
              </div>


            <div class="col-md-4">
              <label for="inputcuatri" class="form-label" placeholder="EdoCivil">Cuatrimestre</label>
              <select id="inputcuatri" class="form-select" name="grado" required disabled>
                <option selected value="{{GRADO}}">{{GRADO}}</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
              </select>
            </div>
            <div class="row g-3">
              <div class="col-md-3">
                <label for="paterno" class="form-label">Primer apellido</label>
                <input type="text" id="paterno" name="paterno" class="form-control" placeholder="Primer apellido"
                  value="{{PATERNO}}" disabled>
              </div>
              <div class="col-md-3">
                <label for="materno" class="form-label">Segundo apellido</label>
                <input type="text" id="materno" name="materno" class="form-control" placeholder="Segundo apellido"
                  value="{{MATERNO}}" disabled>
              </div>
              <div class="col-md-3">
                <label for="nombre" class="form-label">Nombres</label>
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombres"
                  value="{{NOMBRE}}" disabled>
              </div>
              <div class="col-md-3">
                <label for="genero" class="form-label">Genero</label>
                <select name="genero" id="genero" class="form-select" disabled>
                  <option value="{{GENERO}}" selected>{{GENERO}}</option>
                  <option value="M">Masculino</option>
                  <option value="F">Femenino</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="fech_nacimiento" class="form-label">Fecha nacimiento</label>
                <input type="hidden" id="fech_nacimiento_ini" value="{{FECHA_NACIMIENTO}}">
                <input type="date" id="fech_nacimiento" name="fecha_nacimiento" class="form-control" disabled>
              </div>
              <div class="col-md-3">
                <label for="estad_-nacimiento" class="form-label">Estado de nacimiento</label>
                <select id="estado_nacimiento" class="form-select" name="estado_nacimiento" disabled>
                  <option selected>{{ESTADO_NACIMIENTO}}</option>
                </select>

              </div>
              <div class="col-md-3">
                <label for="municipio-nacimiento" class="form-label">Municipio de nacimiento</label>
                <select id="municipio-nacimiento" class="form-select" name="municipio_naci" disabled>
                  <option>{{LUGAR_NACIMIENTO}}</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="inputnacionalidad" class="form-label" placeholder="Nacionalidad">Nacionalidad</label>
                <select id="inputState" class="form-select" disabled name="nacionalidad">
                  <option selected value="{{NACIONALIDAD}}" disabled disabled>{{NACIONALIDAD}}</option>
                  <option>Mexicana</option>
                  <option>Extranjera</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="inputedocivil" class="form-label" placeholder="EdoCivil">Estado civil</label>
                <select id="inputState" class="form-select" disabled>
                  <option selected value="{{ESTADO_CIVIL}}" disabled disabled>{{ESTADO_CIVIL}}</option>
                  <option value="S">Soltero</option>
                  <option value="C">Casado</option>
                </select>
              </div>
              <div class="col-md-7 pt-2">
                <div class="form-group">
                  <label class="control-label" for="curp_">
                    CURP
                  </label>
                  <input id="curp_" name="curp" class="form-control form-control-lg" style="text-transform: uppercase;"
                    maxlength="18" required type="text" value="{{CLAVE_CIUDADANA}}" disabled>
                  </input>
                  <a href="https://consultas.curp.gob.mx/CurpSP/gobmx/inicio.jsp" target="_blank">
                    Consulta tu CURP
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Domicilio</h1>

            <div class="row g-2">
              <div class="col-md-8">
                <label for="domicilio" class="form-label">Domicilio particular</label>
                <input type="text" id="domicilio" name="domicilio" class="form-control"
                  placeholder="Calle, número y colonia" value="{{DOMICILIO}}" disabled>
              </div>
              <div class="col-md-4">
                <label for="cruzamientos" class="form-label">Municipio</label>
                <input type="text" id="cruzamientos" name="cruzamientos" class="form-control" placeholder="Cruzamientos"
                  value="{{ENTRE_CALLES}}" disabled>
              </div>
              <div class="col-md-4">
                <label for="estado" class="form-label">Estado</label>
                <select name="estado" id="estado" class="form-select" disabled>
                  <option value="{{ESTADO}}">{{ESTADO}}</option>
                </select>
              </div>

              <div class="col-md-4">
                <label for="postal" class="form-label">Código Postal</label>
                <input type="text" id="postal" name="postal" class="form-control" placeholder="C.P" value="{{CP}}"
                  disabled>
              </div>
              <div class="col-md-12">
                <label for="email_personal" class="form-label">Email personal</label>
                <input type="text" id="email_personal" name="email_personal" class="form-control"
                  placeholder="nombre@servidor.com" value="{{EMAIL}}" disabled>
              </div>
              <div class="col-md-12">
                <label for="email_insti" class="form-label">Email institucional</label>
                <input type="text" id="email_insti" name="email_insti" class="form-control"
                  placeholder="nombre@utponiente.edu.mx" value="{{EMAIL_ALTERNO}}" disabled>
              </div>
              <div class="col-md-3">
                <label for="tel_cel" class="form-label">Teléfono celular</label>
                <input name="tel_cel" id="tel_cel" class="form-control" type="tel" maxlength="10" value="{{CELULAR}}"
                  disabled />
              </div>
              <div class="col-md-3">
                <label for="tel_domicilio" class="form-label">Teléfono domicilio</label>
                <input type="tel" id="tel_domicilio" name="tel_domicilio" class="form-control" value="{{TELEFONO}}"
                  disabled>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Escolaridad</h5>

          <!-- Vertical Form -->
          <div class="row g-3">
            <div class="col-md-8">
              <label for="inputcarrera" class="form-label" placeholder="EdoCivil">Carrera</label>
              <select id="inputcarrera" name="nivel" class="form-select" required disabled>
                <option selected value="{{NIVEL}}">{{NIVEL}}</option>
                <option>TSU en Administración Área Formulación y Evaluación de Proyectos</option>
                <option>TSU en Gastronomía</option>
                <option>TSU en Procesos Alimentarios</option>
                <option>TSU en Tecnologías de la Información Área Desarrollo de Software Multiplataforma</option>
                <option>TSU en Turismo Área Desarrollo de Productos Alternativos</option>
                <option>Ingeniería en Procesos Bioalimentarios</option>
                <option>Ingeniería en Desarrollo y Gestión de Software</option>
                <option>Licenciatura en Gestión de Negocios y Proyectos</option>
                <option>Licenciatura en Gestión y Desarrollo Turístico</option>
                <option>Curso de Inglés Básico</option>

              </select>
            </div>

          

            <div class="col-md-3">
              <label for="inputmatricula" class="form-label">MATRÍCULA</label>
              <input type="text" class="form-control" id="inputmatricula" maxlength="8" placeholder="AAMMFFFF" required
                value="{{MATRICULA}}" name="matricula" disabled>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            </dic><!-- Vertical Form -->

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Estatus</h5>

          <!-- No Labels Form -->
          <div class="row g-3">
            <div class="col-md-3">
              <label for="estatus_actual" class="form-label" placeholder="EdoCivil">Estatus actual</label>
              <input type="hidden" id="status" value="{{STATUS}}">
              <select id="estatus_actual" class="form-select" onchange="changeStatus()" disabled>
                <option selected disabled>--seleccionar estatus--</option>
              </select>
            </div>

            <div class="col-md-3"></div>

            {{!-- ====== Ingreso TSU ====== --}}
            <div class="row my-2 d-none" id="ingreso_tsu">
              <div class="col-3">
                <label for="inputAddress2" class="form-label">Fecha de registro TSU</label>
                <input class="form-control" id="fecha_reg" type="date" disabled
                Value="{{FECHA_CREACION}}" name="" disabled >
              </div>

              <div class="col-3">
                <label for="inputdate" class="form-label">Ciclo de ingreso TSU</label>
                <input class="form-control" id="fecha_itsu" type="TEXT" disabled
                value="{{FECHA_INGRESO}}" name="" disabled>
              </div>
            </div>

            {{!-- ====== Seccion de baja ====== --}}
            <div class="row my-2 d-none" id="motivo_baja">
              <div class="col-md-3">
                <label for="inputmotivo" class="form-label" placeholder="EdoCivil">Motivo de la baja</label>
                <select id="inputmotivo" class="form-select" disabled>
                  <option>REPROBACIÓN</option>
                  <option>DESERCIÓN SIN CAUSA CONOCIDA</option>
                  <option>MOTIVOS PERSONALES</option>
                  <option>CAMBIO DE CARRERA</option>
                  <option>INCUMPLIMIENTO DE EXPECTATIVAS</option>
                  <option>DISTANCIA DE LA UT</option>
                  <option>PROBLEMAS ECONÓMICOS</option>
                  <option>PROBLEMAS DE TRABAJO</option>
                  <option>CAMBIO DE UT</option>
                  <option>DEFUNCIÓN</option>
                  <option>OTRAS CAUSAS</option>
                </select>
              </div>
              <div class="col-3">
                <label for="fechabaja" class="form-label">Fecha de Baja</label>
                <input class="form-control" id="fecha_baja" type="date" disabled>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nota</h5>
          <div>
            <textarea class="form-control" name="nota" disabled>{{OBSERVACIONES}}</textarea>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="text-center">
    <button class="btn btn-outline-primary" type="button" id="btn_act">Habilitar edición</button>
    <button class="btn btn-outline-primary d-none" type="submit" id="btn_update">Actualizar</button>
  </div>
  </form>
</section>

{{!-- // Ajusta las fechas --}}
<script>
  const fech_nacimiento_ini = document.getElementById("fech_nacimiento_ini");
  const fech_nacimiento = document.getElementById("fech_nacimiento");
  fech_nacimiento.value = formatDate(fech_nacimiento_ini.value);
</script>

{{!-- // Hablita todos los input para editar --}}
<script>
  const btn_act = document.getElementById("btn_act");
  const btn_update = document.getElementById("btn_update");

  btn_act.addEventListener("click", () => {
    btn_act.classList.add("d-none");
    btn_update.classList.remove("d-none");

    let inputs = document.getElementsByTagName("input");
    let selects = document.getElementsByTagName("select");
    let txtarea = document.getElementsByTagName("textarea");

    for (let i = 0; i < inputs.length; i++) {
      inputs[i].disabled = false;
    }

    for (let i = 0; i < selects.length; i++) {
      selects[i].disabled = false;
    }

    for (let i = 0; i < txtarea.length; i++) {
      txtarea[i].disabled = false;
    }

    // Manda al principio de la pagina
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  });

</script>
<script src="/js/helpers/filtraPorEstatus.js"></script>